<html lang="en">
<head>
    <title>Inbox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/contact_modal.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" ></script>
</head>
<body>
<div class="modal fade" id="addschedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/schedule" method="post">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Trainer:</label>
                        <input type="text" class="form-control" name="trainer">
                    </div>
                    <div class="form-group">
                        <label for="subject-text" class="col-form-label">Subject:</label>
                        <input type="text" class="form-control" name="subject">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Room:</label>
                        <input type="text" class="form-control" name="room">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Group:</label>
                        <input type="text" class="form-control" name="group">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Date:</label>
                        <input type="text" class="form-control" name="date">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="active"><a href="/inbox">Schedule</a></li>
            <li><a href="/trainers">Trainers</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/rooms">Rooms</a></li>
            <li><a href="/groups">Groups</a></li>
        </ul>
        <!--<form action="/inbox/logout">
            <div align="right"><button type="submit" class="btn btn-warning"  method="GET" >logout</button></div>
        </form>-->
    </div>
</nav>
<div class="col-sm-1 content">
    <ul class="nav flex-column">
        <li class="nav-item">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addschedule" >Add</button>
        </li>
    </ul>
</div>

    <div class="col-sm-10 content">
    <table id="table" class="table table-hover" data-link="row" id="tableID">
        <thead class="black white-text">
        <tr>
            <th>Trainer</th>
            <th>Subject</th>
            <th>Room</th>
            <th>Group</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i< result2.length; i++){%>
        <tr>
            <td><%= result2[i][0] %></td>
            <td><%= result2[i][1] %></td>
            <td><%= result2[i][2] %></td>
            <td><%= result2[i][3] %></td>
            <td><%= result2[i][4] %></td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>

</body>
<script>
    $(document).ready(function() {
        $('#table').DataTable();
    } );
</script>
</html>